/* support dark mode */
:root {
    color-scheme: light dark;
}

input[type="text"] {
    padding: 1px 1px;
    margin-top: 2px;
    margin-bottom: 1px;
}

#chart1 {
    background-color: white;
}

body {
    background-color: hsl(0, 0%, 90%)
}

@media (prefers-color-scheme: dark) {
    #chart1 {
        background-color: hsl(33, 32%, 88%); /* still 'white'ish but not blindingly white */
    }
    body {
        background-color: hsl(16, 67%, 7%); /* lower luminance, near black version of logo color */
    }
}


/*
 from https://www.joshwcomeau.com/css/custom-css-reset/ + modifications
(no 0 margin for instance as that breaks the chart)
*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 2.5%;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}
